:root {
  line-height: 1.5;
  font-weight: 400;
  --envelope-background-color: #3024245c;
  --support: #302424;
  --primary: #b49084;
  --tertiary: #80656e;
  --bold: #000;
  --base-opacity-40: rgba(233, 214, 208, 0.4);
  --letters: #101010;
  --white: #fff;
  --bold: #000;
  --Padding-x: 16px;
  --vertical-padding: 42px;
  --gap-welcome-content: 80px;
  --Names-sizes: 70px;
  --font-marcellus: "Marcellus SC", serif;
  --font-antic: "Antic Didone", serif;
  --font-lucida-bright: "Lucida Bright", "Lucida Sans", serif;
  --font-lucida-sans: "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode",
    Geneva, Verdana, sans-serif;
  --Seal-size: 60px;
  --tertiary-font-size: clamp(38px, 5vw, 55px);
  --responsive-transition: all 0.3s ease;
  --bullet-size: clamp(20px, 6vw, 30px);
  --bullet-background: conic-gradient(from 180deg at 50% 50%, #D4C0B9 32.30913072824478deg, #685154 115.19999742507935deg, #B49084 201.16353034973145deg, #36272E 308.8720107078552deg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  scroll-behavior: smooth;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Asegurar que siempre comience al inicio */
  scroll-padding-top: 0;
  transition: var(--responsive-transition);
}

em {
  color: var(--White, #fff);
  text-align: center;
  text-shadow: 22px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Antic Didone";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
h1 {
  font-family: "Marcellus SC", system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: var(--White, #fff);
  text-align: center;
  text-shadow: 1px 3px 6px rgba(255, 255, 255, 0.5);
  font-size: var(--Names-sizes, 70px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
h2 {
  color: var(--tertiary, #80656e);
  font-family: var(--font-lucida-bright);
  font-size: 38px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
h3 {
  color: var(--bold, #000);
  font-family: var(--font-lucida-bright);
  font-size: var(--tertiary-font-size);
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  text-align: center;
}
p {
  color: #000;
  text-align: center;
  font-family: var(--font-lucida-bright);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
.general_text {
  color: var(--Letters, #101010);
  text-align: center;
  font-family: "Lucida Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.general-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 42px;
  flex-shrink: 0;
  padding-top: var(--vertical-padding);
  padding-bottom: var(--vertical-padding);
}
hr {
  width: 121.149px;
  height: 3px;
  background: var(--Primary, #b49084);
}
.button_primary {
  border-radius: 8px;
  background: linear-gradient(180deg, #36272e 0%, #685154 100%);
  display: flex;
  padding: 8px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  color: var(--White, #fff);
  font-family: var(--font-lucida-sans);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.button_primary:hover {
  background: linear-gradient(180deg, #685154 0%, #36272e 100%);
  cursor: pointer;
  transition: all 0.3s ease;
}
.button_primary:active {
  background: linear-gradient(180deg, #685154 0%, #36272e 100%);
  cursor: pointer;
  transition: all 0.3s ease;
}
.button_primary:focus {
  background: linear-gradient(180deg, #685154 0%, #36272e 100%);
  cursor: pointer;
  transition: all 0.3s ease;
}
a {
  text-decoration: none;
}
@media (max-width: 380px) {
  h2 {
    font-size: 44px;
  }
  p {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  :root {
    --Names-sizes: 95px;
  }
  em {
    font-size: 30px;
  }
  h2 {
    font-size: 50px;
  }
  p {
    font-size: 24px;
  }
}
@media (min-width: 1024px) {
  :root {
    --Names-sizes: 120px;
  }
  em {
    font-size: 40px;
  }
  h2 {
    font-size: 60px;
  }
  p {
    font-size: 30px;
  }
}
