.envelope_background {
  background-color: var(--envelope-background-color);
  height: 100vh;
  width: 100vw;
  min-height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: all 6.5s ease-in-out;
  position: relative;
  z-index: 10;
  box-sizing: border-box;
}

.envelope_background.fade-out {
  opacity: 0;
  transform: scale(0.9);
  pointer-events: none;
}

.envelope_background.opened {
  display: none;
}

/* Ocultar completamente el envelope después de que termine la transición de fade-out */
.envelope_background.completely-hidden {
  display: none;
}

.envelope__inner {
  text-align: center;
}
.envelope__image-container {
  position: relative;
  width: 250px;
  height: auto;
}
.envelope__button {
  align-items: center;
  animation: pulse 1.5s infinite;
  background: conic-gradient(
    from 180deg at 50% 50%,
    rgba(215, 52, 61, 0.81) 15.536845922470093deg,
    rgba(118, 29, 33, 0.87) 83.53921830654144deg,
    rgba(139, 34, 39, 0.81) 154.04207468032837deg,
    rgba(152, 32, 38, 0.81) 285.9332013130188deg,
    rgba(220, 54, 62, 0.81) 309.811749458313deg,
    rgba(126, 30, 35, 0.81) 326.30812883377075deg
  );
  border-radius: 80px;
  border: none;
  top: 50%;
  box-shadow: 2px 8px 4px 0px rgba(0, 0, 0, 0.4);
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 18px;
  gap: 10px;
  height: var(--Seal-size, 60px);
  justify-content: center;
  left: 50%;
  padding: 15px 30px;
  position: absolute;
  transition: background-color 0.3s;
  width: var(--Seal-size, 60px);
  z-index: 4;
}

.envelope__button:hover {
  box-shadow: 2px 8px 4px 0px rgba(0, 0, 0, 0.4);
  opacity: 0.9;
}

.envelope__button-text {
  font-weight: bold;
}
.envelope__image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}


.envelope_animation_container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.envelope_animation_container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.wrapper {
  height: 200px;
  width: 300px;
  background-color: #e3c094;
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 0;
  border-radius: 0 0 12px 12px;
}

.lid {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-right: 150px solid transparent;
  border-bottom: 100px solid transparent;
  border-left: 150px solid transparent;
  transform-origin: top;
  transition: transform 0.25s linear;
}

/* Lid when closed */
.lid.one {
  border-top: 100px solid #e3c094;
  transform: rotateX(0deg);
  z-index: 3;
  transition-delay: 0.75s;
}

/* Lid when opened */
.lid.two {
  border-top: 100px solid #e3c094;
  transform: rotateX(90deg);
  z-index: 1;
  transition-delay: 0.5s;
}

.envelope {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-top: 100px solid transparent;
  border-right: 150px solid #f1d1ae;
  border-bottom: 100px solid #f1d1ae;
  border-left: 150px solid #e7c7a4;
  z-index: 3;
  border-radius: 0 0 12px 12px;

}

.letter {
  position: absolute;
  top: 0;
  width: 80%;
  height: 80%;
  background-color: white;
  border-radius: 15px;
  z-index: 2;
  transition: 2.5s;
  padding: 0 16px;
}

.letter p {
  text-align: center;
  font-size: 26px;
  margin-top: 30px;
  color: #3B4049;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.wrapper.opened .lid.one {
  transform: rotateX(90deg);
  transition-delay: 1s;
}

.wrapper.opened .lid.two {
    transform: rotateX(180deg);
    transition-delay: 1.25s;
  }
   
  .wrapper.opened .letter {
  transform: translateY(-220px);
  height: 210%;
  transition-delay: 1.5s;
}

.wrapper.opened .letter p {
  opacity: 1;
  transition-delay: 3.1s;
  margin-top: 10px;
}
.wrapper.opened .letter p:first-of-type {
  margin-top: 20px;
}
.wrapper.opened {
  margin-top: 100px;
  transition-delay: 0s;
  transition: margin-top 0.5s ease-out;
}
.shadow {
  position: absolute;
  bottom: -30px; /* separada debajo del sobre */
  left: 50%;
  transform: translateX(-50%);
  width: 180px; /* ancho de la sombra */
  height: 30px;  /* altura de la sombra */
  background: rgba(0,0,0,0.2);
  border-radius: 50%; /* para hacerla ovalada/redonda */
  filter: blur(8px); /* suaviza la sombra */
  z-index: 1;
}
.wrapper.opened .shadow {
  transition-delay: 0s;
  transition: all 0.5s ease-in;
  width: 220px;
  height: 50px;
  bottom: -50px;
}
@media (min-width: 768px) {
  .envelope__image-container {
    width: 250px;
    height: auto;
  }
}
@media (min-width: 1024px) {
  .envelope__image-container {
    width: 100vw;
    height: 100vh;
  }
  .envelope__button {
    width: 120px;
    height: 120px;
  }
  .wrapper {
    width: 600px;
    height: 400px;
  }
  .lid.one, .lid.two {
    border-top: 200px solid #e3c094;
  }
  .envelope {
    border-top: 200px solid transparent;
    border-right: 300px solid #f1d1ae;
    border-bottom: 200px solid #f1d1ae;
    border-left: 300px solid #e7c7a4;
  }
  .letter {
    width: 100%;
    height: 100%;
  }
  .letter p {
    font-size: 36px;
  }
  .shadow {
    width: 180px;
    height: 30px;
    bottom: -30px;
  }
  .wrapper.opened .shadow {
    width: 220px;
    height: 30px;
    bottom: -30px;
  }
  .wrapper.opened {
    margin-top: 250px;
    transition-delay: 0s;
    transition: margin-top 0.5s ease-out;
  }
  .wrapper.opened .letter {
    transform: translateY(-220px);
    height: 110%;
    transition-delay: 1.5s;
  }
}
@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.05);
  }
  100% {  
    transform: translate(-50%, -50%) scale(1);
  }
}